//
//= require jquery-ui/sortable
//

// https://materializecss.com/
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "workflows";

@font-face {
  font-family: 'MuseoSans';
  src:font-url('MuseoSans_500-webfont.woff') format('woff'),
    font-url('MuseoSans_500-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MuseoSans';
}

html {
  height: 100%;
}

body {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.wrap {
  min-height: 100%;
}

.nav-wrapper {
  background-color: #3C5A76;

  .brand-logo {
    font-family: 'MuseoSans';
  }
}
