<h1>Editing Travel Companion Appearance</h1>

<%= render 'form', travel_companion_appearance: @travel_companion_appearance %>

<%= link_to 'Show', @travel_companion_appearance %> |
<%= link_to 'Back', travel_companion_appearances_path %>
